/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px!important;
    padding: 0px;
}

.page-header{
    margin-left:30%;
    color:#ffffff;
    font-family: 'Roboto' ,  sans-serif;
    font-size:20px;
 
 }
 
 .page-title{
     font-size:70px;
     font-weight: 700;
     margin-top:-10px;
 }
 
 .page-35{
     width: 30%;
     left: 0px;
     position: fixed;
 }
 
 .page-65{
     width: 65%;
     float: right;
     position: relative;
     margin-bottom: 40vh;
 }
 
 
 .box{
    background-color: #fff;
    display: block;
    width: 90%;
    margin-bottom:10px;
    margin-right: 50px;
    position: relative;
    float: right;
    padding: 50px;
    box-sizing: content-box;
    
}

/* Forms CSS */
.form-group {
    width: 100%;     
    box-sizing: border-box;
     /* Opera/IE 8+ */
 }
 
 
 label{
     width: 100%;
     color:#333;
     display: block;
     margin-bottom: 10px;
 }
 
 input, textarea{
     padding: 20px;
     border: none;
     position: relative;
     width: 100%;
     margin-bottom:10px;
     background:#f0f0eb;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
 }
 
 
 
 
 
 button{
     margin: 20px 0px;
     background: #fe5000;
     color:#fff;
     font-size: 18px;
     padding: 10px 20px;
     border:none;
     text-transform: uppercase;
     cursor: pointer;
 }
 
 .validators{
     color:#fe5000;
     margin-bottom:20px;
 }
 
 input.errors, textarea.errors {
     border:#fe5000 1px solid;   
 }
 
 button:disabled{
     opacity: 0.7;
     cursor:  not-allowed;
 }