<blog-popup *ngIf="modelBoolean" [modelbox]="modelbox" (response)="receiveMessage($event)"></blog-popup>
<div class="page-35">
  
  <div class="page-header">
    <p>Compose</p>
    <p class="page-title">a blog</p>
  </div>
</div>
<div class="page-65">
  <div class="box">
    <form (ngSubmit)="formSubmit()" #create="ngForm" id="create">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" required [(ngModel)]="blog.title" #title="ngModel" 
        [ngClass]="{'errors': title.invalid && (title.dirty || title.touched)}">
        <div class="validators" *ngIf="title.invalid && (title.dirty || title.touched)">
          <div class="innerValidators" *ngIf="title.errors.required" >Your articles needs title</div>
        </div>
      </div>

      <div class="form-group">
        <label for="body">Body</label>
        <textarea type="text" class="form-control" name="body" rows="10" required [(ngModel)]="blog.body" #body="ngModel" 
        [ngClass]="{'errors': body.invalid && (body.dirty || body.touched)}"></textarea>
        <div class="validators" *ngIf="body.invalid && (body.dirty || body.touched)">
            <div class="innerValidators" *ngIf="body.errors.required" >Your articles needs body</div>
        </div>
      </div>

      <div class="form-group">
        <label for="image">imageLink</label>
        <input type="text" class="form-control" name="body" required [(ngModel)]="blog.image">
      </div>
     
      
      <button type="submit" class="btn btn-success" [disabled]="!create.form.valid" >Submit</button>
    </form>
  </div>
</div>