<!--The content below is only a placeholder and can be replaced.-->
<div class="positionFixed">
    <div class="title">
      BW
    </div>
    <div class="nav">
      <a routerLink="/blogs" routerLinkActive="active">Latests</a>
      <a routerLink="/create">Create</a>
      <a routerLink="/home">Home</a>
      <a routerLink="/register">Register</a>
      <a routerLink="/login">Login</a>
    </div>
  </div>
<div class="headerWrapper">
  <div class="header">
    
  </div>
</div>
<div class="routers">
  <router-outlet></router-outlet>
</div>